services:
  zookeeper:
    image: confluentinc/cp-zookeeper:7.3.0
    container_name: zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
    ports:
      - "2181:2181"

  kafka:
    image: confluentinc/cp-kafka:7.3.0
    container_name: kafka-1
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka-1:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1

  mongo:
    image: mongo:6
    container_name: activity-mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  api:
    build: .
    container_name: activity-api
    depends_on:
      - kafka
      - mongo
    ports:
      - "3000:3000"
    env_file:
      - .env
    command: ["sh", "-c", "node wait-for-kafka.js && node src/index.js"]
    

    restart: always

  consumer:
    build: .
    container_name: activity-consumer
    depends_on:
      - kafka
      - mongo
    env_file:
      - .env
    command: ["sh", "-c", "node wait-for-kafka.js && node src/interfaces/jobs/consumerRunner.js"]
    restart: always

volumes:
  mongo_data:
